{% extends 'layout.html' %} 
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-5 bg-light">
      <img
      class="img-fluid "
      src="{% static 'courses/img/'|add:course.imageUrl %}"
      alt=" {{course.title}}"/> 
    </div>
    <div class="col-7 bg-light">
    <h1 class="h3">{{course.title}}</h1>
    <p>{{course.description}}</p>
    </div>
  </div>
</div>
{% endblock content %} #layout a gönderir content içindeki yeri .layout ile
birleşir. #/about sayfası çağrıldığında layotdaki ğçeriği kullanır.çünkü layout
dan kalıtım aldı.content e ise kendi contentini yarleştirir. 
{% block title %}
{{course.title}}
{% endblock %}
