{% extends 'layout.html' %} 
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-3 bg-light">
      {% include 'courses/partials/_categories.html'%}
    </div>
    <div class="col-9 bg-light">
      {% if page_obj.object_list|length == 0 %}
      <div class="alert alert-warning">Kurs Bulunamadı</div>
      {% endif %}
      {% for course in page_obj.object_list %} 
        
              {% include 'courses/partials/_course.html'%}
        
      {% endfor %}
      {% include  'courses/partials/_pagination.html'%}
    </div>
  </div>
</div>
{% endblock content %} #layout a gönderir content içindeki yeri .layout ile
birleşir. #/about sayfası çağrıldığında layotdaki ğçeriği kullanır.çünkü layout
dan kalıtım aldı.content e ise kendi contentini yarleştirir. 
{% block title %}
kurslar 
{% endblock %}
