{% extends 'layout.html' %} {% block content %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">

        
    </div>
  </section><!-- End Hero -->

{% endblock content %} #layout a gönderir content içindeki yeri .layout ile
birleşir. #/about sayfası çağrıldığında layotdaki ğçeriği kullanır.çünkü layout
dan kalıtım aldı.content e ise kendi contentini yarleştirir. {% block title %}
ana sayfa {% endblock %}
